body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator {
    background-color: #111f4a;
    width: 300px;
    height: 500px;
    border: solid #111f4a 10px;
    border-radius: 10px;

}
.display {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    top: 100%;
    font-size: 400%;
    width: 100%;
    height: 20%;
    background-color: grey;
    
}
.button-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.button-container > button {
    color: #111f4a;
    font-size: large;
    border: none;
    background-color: #c6c463;
    width: 100%;
    height: 50px;
}
#long-button{
    grid-column: 1/3;
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100vw;
    font-size: 200%;
    color: #c6c463;
} 